.fridgeBar {
  width: 100%;
  background-color: #c7e3ee;
  .top__bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
  }
  & > .MuiSvgIcon-root {
    color: white;
  }
  input {
    border: none;
    border-radius: 20px;
  }
  .header {
    display: none;
  }
}
