.fridge__index {
  background-color: #c7e3ee;
  height: 100vh;
  .fridge__index__slogan {
    color: #444545;
    display: flex;
    align-items: center;
    padding: 20px 10px;
    justify-content: center;
    h4 {
      font-size: 18px;
      font-weight: normal;
    }
    & > .MuiSvgIcon-root {
    }
    .ticker {
      width: 100%;
    }
  }
  .fridge__index__img {
    // height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .fridge__index__displayQuantity {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    color: #444545;
    .fridge__index__displayQuantity__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 50%;
    }
  }

  .fridge__index__function {
    display: flex;
    justify-content: space-around;
    color: gray;
    .fridge__index__function__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > .MuiSvgIcon-root {
        margin-bottom: 10px;
        font-size: 48px;
      }
    }
  }
  .fridge__index__add {
    color: #444545;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #f5f5f5;
  }
  // .fridge__index__expired {
  //   margin-top: 20px;
  //   display: flex;
  //   flex-direction: column;
  //   height: 150px;
  //   color: #444545;
  //   > h4 {
  //     font-size: 24px;
  //     padding-left: 20px;
  //   }
  //   .div {
  //     display: flex;
  //     width: 100%;
  //     margin-top: 10px;
  //     background-color: #f5f5f5;
  //     .fridge__index__expired__img {
  //       img {
  //         width: 100px;
  //       }
  //     }
  //     .fridge__index__expired__content {
  //     }
  //   }
  // }
  .fridge__index__history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 350px;
    }
    h4 {
      margin-top: 20px;
    }
  }
  .fridge__index__history__datas {
    overflow: auto;
    height: 200px;
    .fridge__index__history__data {
      // margin-bottom: 100px;
      background-color: #f5f5f5;
      img {
        width: 100px;
      }
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px;
    }
  }
}
