:root {
    --brand-primary: #fea29b;
    --brand-primary--inverted: #ffffff;
    --brand-secondary: #95BF6F;
    --brand-secondary--inverted: #fe8b83;
    // --font-family-base: 'Fjalla One';
    --main-navigation-color: #fe8b83;
    --main-navigation-color--inverted: var(--brand-primary--inverted);
}