.ProfilePage{
    overflow:scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    width: 100%;
    .profile__card{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        background-color: #FE8B83;
        
        .profile__progress{
            margin-top: 100px;
            width: 200px;      
        }
        .profile__avatar{
            margin-top: -194px;
            height: 178px;
            width: 178px;
        }
        .profile__name{
            margin-top: 20px;
            text-align: center;
            font-size:xx-large;
            font-weight: bolder;
        }
        .profile__button{
            // background-color: #FFD700;
            border-radius: 20px;
            width: 100px;
        }
        .profile__buttonName{
            color: #ffffff !important
        }
       
    }
    .profile__tabpanel{
        overflow: auto;  
        &::-webkit-scrollbar{
            display: none;

        }
        margin-left: 20px;
    }
    .profile__tabs{
        margin-bottom: -25px;
        color:  #FE8B83;
        position: relative;

        .profile__tab1{
            width: 50%;
        }
        .profile__tab2{
            width: 50%;
        }
    }
    .bar{
        display: flex;
        align-items: center;
    }
    .create{
        margin-right: 4px;
        position: absolute;
        right: 0px;
        // span{
        //     color: black;
        // }
    }


    .profile__typography{
        color: #bab9b9 !important
    }
    .profile__logout{
        width: 100px;
        color: #FE8B83;
        font-size: larger;
        font-weight: bolder;
        margin-top: 25px;
        margin-bottom: 20px;
        margin-left: 35%;
    }
   
  
}